/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .get-started {
  margin-bottom: 5em;
 }

 .get-started a {
  margin-bottom: 5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  height: 3.5rem;
  font-size: 1.2rem;
  width: 15rem;
  border-radius: 5px;
  border: 1;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1c1c1c;
  background-color: #87abff;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  cursor: pointer;

}

.get-started a:hover{
  color: #ffffff;
  background-color: #2f6fff;
  transition: 200ms ease-in;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.image-landing {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5em;
}

.scrolldown {
  display: flex; 
  width: 5em;
  height: auto;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5em;
  margin-top: 5em;
}

.image-landing img {
  width: 50%;
}

@media screen and (max-width: 820px) {

  .image-landing img {
    width: 80%;
  }

}

@media screen and (max-width: 500px) {
  .heroBanner {
    padding: 2rem;
  }

  .image-landing img {
    width: 100%;
  }

}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

