/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

img {
  height: auto;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-border: #525252;
  --ifm-color-primary: #888;
  --ifm-color-infobox: #ececec;
  --ifm-color-primary-dark: #666;
  --ifm-color-primary-darker: #444;
  --ifm-color-primary-darkest: #222;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #f0f0f0;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-link-color: #0b7dbd;
  --ifm-atlas-color: #2f6fff;
  --ifm-inverted-atlas-color: #6190fd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-border: #e0e5ea;
  --ifm-color-primary: #b7c3cf;
  --ifm-color-infobox: #232323;
  --ifm-color-primary-dark: #929ba9;
  --ifm-color-primary-darker: #dcdcdc;
  --ifm-color-primary-darkest: #3c4b5c;
  --ifm-color-primary-light: #c2ccd7;
  --ifm-color-primary-lighter: #d2dae1;
  --ifm-color-primary-lightest: #e0e5ea;
  --ifm-link-color: #0b7dbd;
  --ifm-atlas-color: #5084ff;
  --ifm-inverted-atlas-color: #2f6fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.quickstart-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:center;
}

.quickstart-image img {
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quickstart-small-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:center;
}

.quickstart-small-image img {
  max-width: 40%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.floating-box {
  margin-top: 9em
}

table {
  display: table;
  width: initial;
  margin: 0 auto;
}

.phoenix {
  width: 100%;
  border-radius: 15px;
}

/* src/css/custom.css */

/* Always reserve space for TOC */
.docMainWrapper {
  display: flex;
}

/* Set the main content width, adjust as needed */
.docMainWrapper .mainContent {
  flex: 1 0 auto; /* grow to fill space, don't shrink, basis is auto */
  max-width: calc(100% - 300px); /* Assuming 300px is the width of your TOC */
}

/* This ensures the sidebar space is reserved */
.docMainWrapper .rightSidebar {
  width: 300px;
  flex: 0 0 auto; /* don't grow, don't shrink, basis is auto */
}

/* Add a placeholder element if TOC is not present */
.docMainWrapper .emptyTOCPlaceholder {
  width: 300px;
  flex: 0 0 auto;
}

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 95%; /* Ensure it takes the full width of its parent */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-bottom: 20px;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Occupy the full width of the container */
  height: 100%; /* Occupy the full height of the container, adjusted for aspect ratio */
  border: none; /* Optional: remove the border */
}

.centered-button-container {
  text-align: center;
  margin-bottom: 20px;
}

.github-button {
  background-color: #2b3137;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.download-vm-button {
  background-color: #87abff; /* Blue background */
  color: #1c1c1c; /* Black text */
  padding: 12px 24px; /* Larger padding for a bigger button */
  text-decoration: none; /* No underline */
  border-radius: 5px; /* Rounded corners for the button */
  display: inline-block; /* Necessary for the alignment and spacing */
  font-size: 16px; /* Suitable font size for readability */
  margin: 8px 0; /* Margin on top and bottom for spacing */
  cursor: pointer; /* Cursor indicates it’s clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.download-vm-button:hover {
  color: #ffffff; /* White text */
  background-color: #2f6fff; /* Darker blue when hovered */
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.scrollable-table-container {
  overflow-x: auto;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 700px; /* Set the maximum height as needed */
}

.scrollable-table {
  width: 3000px;
  border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.scrollable-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.scrollable-table tr:hover {
  background-color: #7ec4ec;
}
